* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    -webkit-padding-start: 0;
}

iframe {
    width: 100%;
    height: 470px;
}

video {
    width: 100%    !important;
    height: auto   !important;
}


.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.inline-block { display: inline-block; }
.block { display: block; }
.hidden { display: none; }
.no-spacing {
    margin: 0;
    padding: 0;
}

.word-break { word-break: break-all; }

.pointer {
    cursor: pointer;
}

textarea {
    resize: none;
}

/** Truncate Elemente benoetigen eine maximalbreite **/
.truncate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}