.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.container .column {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 8px;
    margin-bottom: 8px;
}

.column.no-padding {
    padding: 0;
}

.column.no-margin {
    padding: 0;
}

.column.no-border > .column-inner {
    border: none;
}

.column.col-la-1 {
    width: 25%;
}

.column.col-la-2 {
    width: 50%;
}

.column.col-la-3 {
    width: 75%;
}

.column.col-la-4 {
    width: 100%;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}